{% extends "employee/index.html" %}
{% load static %}
{% load compress %}
{% compress css %}
{% compress js %}

{% block dash %}




<div class="col-lg-7 col-md-9 col-sm-12 col-xs-12 col-lg-pull-3 col-lg-offset-0 col-md-offset-3">
    <div class="main-body">
<div class="dashboard-job-stats followers">
<h4>My Job Alerts</h4>
<div class="dashboard-posted-jobs">
<div class="posted-job-list resume-on-jobs header-title">
<ul class="list-inline">
<li class="resume-id">#</li>
<li class="posted-job-title">Alert Name</li>
<li class="posted-job-expiration">Category</li>
<li class="posted-job-action">Action</li>

</ul>
</div>
<div class="cp-loader"></div>
    </div>
                      </div>
</div>
</div>

{% endblock %}
{% endcompress %}
{% endcompress %}