{% extends "employee/index.html" %}
{% load static %}
{% block dash %}

<div class="col-lg-7 col-md-9 col-sm-12 col-xs-12 col-lg-pull-3 col-lg-offset-0 col-md-offset-3">
    <div class="main-body">
<div class="dashboard-job-stats dashboard-email-templates">
<div class="dashboard-job-filters">
<div class="row">
<div class="col-md-6 col-xs-12 col-sm-6">
<h4>Orders history</h4>
</div>
<div class="col-md-6 col-xs-12 col-sm-6">
<div class="form-group">
<form method="GET" id="order_form">
 <input type="hidden" name="candidate-page" value="my-orders">
    <select class="js-example-basic-single form-control order_form select2-hidden-accessible" name="c_order" tabindex="-1" aria-hidden="true">
        <option value="all" selected="">All orders</option>
        <option value="completed">Completed</option>
        <option value="processing">Pending</option>
    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 470px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-c_order-fg-container"><span class="select2-selection__rendered" id="select2-c_order-fg-container" title="All orders"><span class="select2-selection__clear">×</span>All orders</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
 </form>
</div>
</div>
</div>
</div>
<div class="dashboard-posted-jobs">
<div class="posted-job-list header-title">
<ul class="list-inline">
<li class="email-template-id">#</li>
<li class="posted-job-title">Package Name</li>
<li class="posted-job-expiration">Purchased on</li>
<li class="posted-job-action">Status</li>
</ul>
</div>
<div class="dashboard-posted-jobs">
<div class="notification-box">
<div class="notification-box-icon"><span class="ti-info-alt"></span></div>
<h4>No packages purchased yet</h4>
</div>
</div>
    </div>
                       </div>
</div>
</div>

{% endblock %}