{% extends "employee/index.html" %}
{% load static %}
{% block dash %}

<div class="col-lg-7 col-md-9 col-sm-12 col-xs-12 col-lg-pull-3 col-lg-offset-0 col-md-offset-3">
    <div class="main-body">
<div class="dashboard-job-stats my-package-detail">
<h4>Package detail</h4>
<div class="dashboard-posted-jobs">
<div class="dashboard-posted-jobs">
<div class="notification-box">
<div class="notification-box-icon"><span class="ti-info-alt"></span></div>
<h3>No packages purchased yet</h3>
<a href="https://jobs.nokriwp.com/candidate-pricing/" class="btn n-btn-flat">Purchase now </a>
</div>
</div>
</div>
</div>
</div>                        </div>

{% endblock %}