{% extends "employee/index.html" %}
{% load static %}
{% block dash %}

<div class="col-lg-7 col-md-9 col-sm-12 col-xs-12 col-lg-pull-3 col-lg-offset-0 col-md-offset-3">
    <div class="main-body">
<div class="dashboard-job-stats followers">
<div class="row">
<div class="col-md-6 col-sm-6 col-xs-6">
<h4>Your Uploaded Resumes</h4>
</div>

<div class="col-md-6 col-sm-6 col-xs-6">
<div class="form-group">
<div class="file-upload-wrapper" data-text="Click to upload">
<input name="my_cv_upload[]" type="file" class="file-upload-field upload_resume_tab" data-show-preview="false" data-show-upload="false">
</div>
</div>
</div>



</div>
</div>
<div class="dashboard-posted-jobs">
<div class="notification-box">
<div class="notification-box-icon"><span class="ti-info-alt"></span></div>
<h4>You have not uploaded any resume yet</h4>
</div>
</div>
</div>
    </div>

{% endblock %}