{% extends 'payment/base1.html' %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Go Premium with EEpic jobs</h1>
  <p class="lead">Indeed for employers</p>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Go pro with buying Subscription @ 499/month</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Rupees 499 <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Accepts cash & online payments</li>
        </ul>
        <a href="{% url 'checkout' %}?price=Subscription@499pm"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Pay</button></a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enjoy premium subscription @ 1400 for three months</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Rupees 1400<small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Accepts cash & online payments</li>
        </ul>
        <a href="{% url 'checkout' %}?price=Subscription@1400 for three months"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Pay</button></a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enjoy premium subscription @3000/year<small class="text-primary"> </h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Rupees 3000 <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Accepts cash & online payments</li>
        </ul>
        <a href="{% url 'checkout' %}?price=Subscription@3000 for a year"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Pay</button></a>
      </div>
    </div>
  </div>
</div>


{% endblock %}