{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper"> 
                <section class="about-us">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                <div class="col-md-7 col-sm-12 col-xs-12">
                                    <h2>About EEPIC Job Portal</h2>
                                    <p align="justify">The EEPIC Jobs agency was laid in the year 2016 and since then we have been successfully serving to several mid and large-sized companies across India. Even with this astounding success, We are a privately held company and are very popular in the Medical/Healthcare, IT, Non IT, Hospitality, Corporate and other industry. We work with a notion of contributing to the society through our services.</p> 
                                    <div class="services">
                                        <div class="col-md-6 col-xs-12 col-sm-6">
                                             <div class="services-grid">
                                                <h4>Our Mission</h4>
                                                <p align="justify">EEPIC Jobs provides stringent scrutinizing process for the search of executives for the companies. We offer Executive Search service for different positions in various industries as per the client’s requirement. We are backed by a vast database of candidates from which our professionals select the best talent for the hiring companies. We follow a set process where the accumulation of the resumes is done and the suitable candidate is selected for the specific position. Further, the candidate is interviewed by the hiring company on different parameters.</p>
                                             </div>
                                          </div><div class="col-md-6 col-xs-12 col-sm-6">
                                             <div class="services-grid">
                                                <h4> Our Vision</h4>
                                                <p align="justify">Our vision is to achieve the status of the best manpower provider in industry. We aim to be the most dependable providers of cost effective and timely manpower solutions to both Healthcare, IT/Non IT industries by constantly supplying efficient and achievement-oriented candidates. Our targets are always set to exceed client expectations</p>
                                             </div>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-12 col-xs-12"><img src="{% static 'images/about.png' %}" class="img-responsive" alt="about"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <section class="n-call-to-action" style="background: rgba(0, 0, 0, 0.6) url(https://jobs.nokriwp.com/wp-content/uploads/2018/08/calltoaction.png) 0 0 no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center center; background-attachment:scroll;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="heading-title black">
                                    <h2>Your Dream Jobs Are Waiting</h2>
                                    <p>Over 1 million interactions, 50,000 success stories Make yours now.</p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="n-extra-btn-section">
                                    <a href="{% url 'searchJob' %}" class="btn n-btn-flat btn-mid btn-clear"> Search Jobs </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper"> 
                <section class="how-it-works style-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="heading-title black">
                                    <h2>How It Works</h2>
                                    <p>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor.</p>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="h-i-w-box" style="background: url(https://jobs.nokriwp.com/wp-content/uploads/2018/08/how-it-works-1.png) no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; background-position: center center; background-attachment:scroll;">
                                        <div class="work-points">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="h-i-w-content-box">
                                                    <img src="https://jobs.nokriwp.com/wp-content/uploads/2018/08/h-i-w-1.png" class="img-responsive main-img" alt="image">
                                                    <h4>Register Account</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="h-i-w-content-box">
                                                    <img src="https://jobs.nokriwp.com/wp-content/uploads/2018/08/h-i-w-2.png" class="img-responsive main-img" alt="image">
                                                    <h4>Update Profile</h4>
                                                    <p>Lorem ipsum dolor sit amet, adipiscing.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="h-i-w-content-box">
                                                    <img src="https://jobs.nokriwp.com/wp-content/uploads/2018/08/h-i-w-3.png" class="img-responsive main-img" alt="image">
                                                    <h4>Search dream Job</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="h-i-w-content-box">
                                                    <img src="https://jobs.nokriwp.com/wp-content/uploads/2018/08/h-i-w-4.png" class="img-responsive main-img" alt="image">
                                                    <h4>Apply For Job</h4>
                                                    <p>Lorem ipsum dolor sit amet, adipiscing.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="n-call-to-box mt40">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="n-call-to-action-text">
                                                <h3>Looking for to Resources?</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p><p>onec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo.</p>
                                            </div>
                                            <div class="n-extra-btn-section">
                                            <a href="# " class="btn n-btn-flat btn-mid"> Apply Job Now </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><img src="https://jobs.nokriwp.com/wp-content/uploads/2018/08/callto.png" class="img-responsive" alt="image"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% block modal %}
<!-- Forget Password -->
<div class="custom-modal">
    <div id="myModal" class="modal fade" role="dialog">
       <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
          <div class="cp-spinner cp-skeleton"></div>
             <div class="modal-header rte">
                <h2 class="modal-title">Forgot your password?</h2>
             </div>
               
        <form id="sb-forgot-form">
            <div class="modal-body">
               <div class="form-group">
                 <label>Email</label>
                 <input placeholder="Your Email Where We Send You New Password" class="form-control" type="email" data-parsley-type="email" data-parsley-required="true" data-parsley-error-message="Please enter valid email." data-parsley-trigger="change" name="sb_forgot_email" id="sb_forgot_email"/>
               </div>
            </div>
            <div class="modal-footer">
                  <button class="btn n-btn-flat btn-mid btn-block" type="submit" id="sb_forgot_submit">Reset My Account</button>
                  <button class="btn btn-default" type="button" id="sb_forgot_msg">Processing...</button>
            </div>
        </form>
   
          </div>
       </div>
    </div>
</div>
{% endblock %}
{% endblock %}