{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="n-pages-breadcrumb"  style="background: rgba(0, 0, 0, 0.6) url({% static 'images/header/login-slider-image.png' %}) 0 0 no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center center; background-attachment:scroll;">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <div class="n-breadcrumb-info">
                <h1>Contact Us</h1><p>If you are looking for Best placement Agency in Delhi, Noida, Gurgaon, Faridabad- Haryana then you can contact us.</p>
            </div>
        </div>
        </div>
    </div>
</section>


<section class="n-job-pages-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="n-job-pages contact-page">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="n-page-left-side">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="post-job-heading">
                                        <h3>Send Message</h3>
                                    </div>
                                </div>
                                <div role="form" class="wpcf7" id="wpcf7-f485-p291-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response" aria-live="polite"></div>
                                <form action="/contact-us/#wpcf7-f485-p291-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="485">
                                <input type="hidden" name="_wpcf7_version" value="5.1.9">
                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f485-p291-o1">
                                <input type="hidden" name="_wpcf7_container_post" value="291">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your name"></span>
                                </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email Address"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Subject"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="70" rows="7" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Write detailed message here"></textarea></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn n-btn-flat btn-mid pull-right"><span class="ajax-loader"></span>
                                </div>
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div></form></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 nopadding">
                        <div class="n-page-right-side">
                            <div class="post-job-heading">
                                <h3>Contact Information</h3>
                            </div>
                            <ul>
                                <li><i class="ti-location-pin"></i><div class="contact-detail"><p>Location, Block 23 Mayur Vihar Phase -3, New Delhi 11009, India</p></div></li>
                                <li><i class="ti-location-pin"></i><div class="contact-detail"><p>Location, 5 Sector 3,Vikas Nagar Lucknow 226022, India</p></div></li>
                                <li><i class="ti-email"></i><div class="contact-detail"><p><a href="mailto:contact@scriptsbundle.com">contact@eepicjobs.com</a></p></div></li>
                                <li><i class="ti-mobile"></i><div class="contact-detail"><p><a href="callto:+91 8743054809">+91 8743054809</a> , <a href="callto:+91 9873384233">+91 9873384233</a></p> </div></li>
                            </ul>
                            <ul class="social-links">
                                <li><a href="http://Facebook" target="_blank"><img src="https://jobs.nokriwp.com/wp-content/themes/nokri/images/icons/006-facebook.png" class="img-responsive" alt="icon"></a></li>
                                <li><a href="http://Twitter" target="_blank"><img src="https://jobs.nokriwp.com/wp-content/themes/nokri/images/icons/004-twitter.png" class="img-responsive" alt="icon"></a></li>
                                <li><a href="http://Linkedin" target="_blank"><img src="https://jobs.nokriwp.com/wp-content/themes/nokri/images/icons/005-linkedin.png" class="img-responsive" alt="icon"></a></li>
                                <li><a href="http://Google" target="_blank"><img src="https://jobs.nokriwp.com/wp-content/themes/nokri/images/icons/003-google-plus.png" class="img-responsive" alt="icon"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</section>
{% block modal %}
<!-- Forget Password -->
<div class="custom-modal">
    <div id="myModal" class="modal fade" role="dialog">
       <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
          <div class="cp-spinner cp-skeleton"></div>
             <div class="modal-header rte">
                <h2 class="modal-title">Forgot your password?</h2>
             </div>
               
        <form id="sb-forgot-form">
            <div class="modal-body">
               <div class="form-group">
                 <label>Email</label>
                 <input placeholder="Your Email Where We Send You New Password" class="form-control" type="email" data-parsley-type="email" data-parsley-required="true" data-parsley-error-message="Please enter valid email." data-parsley-trigger="change" name="sb_forgot_email" id="sb_forgot_email"/>
               </div>
            </div>
            <div class="modal-footer">
                  <button class="btn n-btn-flat btn-mid btn-block" type="submit" id="sb_forgot_submit">Reset My Account</button>
                  <button class="btn btn-default" type="button" id="sb_forgot_msg">Processing...</button>
            </div>
        </form>
   
          </div>
       </div>
    </div>
</div>
{% endblock %}
{% endblock %}